<style>
    .nav-search {
    height: 3rem;
    min-width: 18rem;
    background-color: rgb(255, 255, 255);
    padding: 5px 0px;
    border-radius: 50px;
    border: .5px solid rgba(128, 128, 128, 0.503);
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: 25rem;
}

.nav-hover {
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.800);
}

.nav-hover:active {
    box-shadow: inset 0px 6px 5px rgba(0, 0, 0, 0.700);
}

#mySearchInput,
#search {
    text-align: center;
    border-radius: 50px;
    border: none;
    outline: none;
}

#search {
    background-color: rgb(235, 25, 25);
    height: 2.35rem;
    width: 2.5rem;
}

#search i {
    font-size: .9rem;
    color: white;
}

#mySearchInput {
    margin-right: 10px;
    height: 2.5rem;
    width: 15rem;
    background-color: transparent;
    color: green;
}

#mySearchInput::-webkit-search-cancel-button {
    font-size: 1.25rem;
}

#mySearchInput::-webkit-input-placeholder {
    color: green;
    font-size: 1.1rem;
    padding-left: 50px;
}

@media (max-width: 767px) {
    .nav-search-search{
        display: none !important;
    }

    #nav-search-hide {
        display: flex !important;
    }
}

</style>
<nav class="navbar navbar-expand-md navbar-light bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fas fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               
                <a class="nav-link" href="/listings">Explore</a>
               
            </div>
            <div class="nav-search nav-hover nav-search-search">
                <form class="d-flex needs-validation" role="search" action="/listings/search" method="get" id="searchBox">
                  <input type="search" placeholder="Search" aria-label="Search" name="q" id="mySearchInput">
                  <button type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              </div>
            
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Add New Place</a>
                <% if (!currUser) { %>
                    <a class="nav-link" href="/signup"><b>SignUp</b></a>
                    <a class="nav-link" href="/login"><b>LogIn</b></a>
                    <a class="nav-link" href="/guest"><b>Guest LogIn</b></a>
                <% } else { %>
                    <a class="nav-link" href="/logout"><b>LogOut</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
