<% layout("/layouts/boilerplate.ejs")%>
<body>
    <h1>Create a new Listing</h1>
    <form method="post" action="/listings">
       <div> <label for="title" class="form-label">Title</label>
        <input placeholder="enter title" type="text" name="listing[title]" class="form-control"></div>
        <br>
      <div>  <label for="description" class="form-label">Description</label>
        <textarea placeholder="Describe the place" type="text" name="listing[description]" class="form-control"></textarea>
    </div>
        <br>
       <div> <label for="image" class="form-label">Image URL/Link</label>
        <input placeholder="enter image url" type="text" name="listing[image]" class="form-control"></div>
        <br>
       <div> <label for="price" class="form-label">Price</label>
        <input placeholder="enter the price" type="number" name="listing[price]" class="form-control"></div>
        <br>
      <div> <label for="location" class="form-label">Location</label>
        <input placeholder="enter location" type="text" name="listing[location]" class="form-control"></div> 
        <br>
       <div> <label for="country" class="form-label">Country</label>
        <input placeholder="enter country" type="text" name="listing[country]" class="form-control"></div>
        <br>
        <button class="btn btn-dark add-btn">Add</button>
    </form>
</body>
