<% layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="container">
        <div class="row ">
            <div class="col-md-6 col-sm-6 offset-3">
                <h1> Sign Up</h1>
                <form method="post" action="/signup" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" type="text" name="username" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter the username!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" type="email" name="email" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter an email!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" name="password" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a password with uppercase, lowercase, and numeric characters!
                        </div>
                    </div>
                    <button class="btn btn-dark add-btn" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>        
</body>